html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Julius Sans One", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
